
.recherche {
  position: relative;
  right:20%;
  width: 120px;
  border-bottom: solid 1px  #000;
  
}
body{
  background-image:"https://static.zara.net/photos///contents/mkt/spots/ss23-help-customer/subhome-xmedia-10-north//w/1839/IMAGE-landscape-web-27470945-8c31-433a-9eaf-392114b6a91d-default_0.jpg?ts=1682518360676";
}
.head{
  font-size:  13px;
  letter-spacing: 8px;
  padding-bottom: 20px;
  font-stretch: normal;
  font-weight:500;

}