body{
    background-color: white;
}
.container-login{
    width: 60%;
        display: flex;
        color: gray;
    font-size: 90%;
    margin:14%;
    justify-content: space-between;
    margin: 2%;
    margin-top: 9%;
    }
    .right-p{
    margin-top: 2%;

    }
    .right-login-form{
        width: 50%;
        margin-top: 8%;
    }
    .forgotpassword{
        color: black;
        font-size: 70%;

    }
    .Left-login-form{
        width: 40%;
    }
    .login-heading{
        margin: 4%;
        color: black;
    }
    .create-btn{
        background-color: white;
        border: solid;
        text-align: center;
        font-size: 90%;
        color: black;
        text-decoration: none;
        padding:2% 32% 3% 10%;



    }
    .create-btn:hover{
        color: rgba(255, 255, 255, 0.212);
    }
    .login-btn{
        background-color: black;
        width: 80%;
        height: 13%;
        text-align: center;
        font-size: 90%;
        color: white;
        text-decoration: none;
        margin-top: 6%;
    }
    .login-btn:hover{
    color: rgba(255, 255, 255, 0.212);
    }
    .container{
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        margin: 4%;
      }
      input[type=text]{
        width: 80%;
        padding:5px 12px 0 20px;
        margin: 18px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid gray;
        font-size:70%;
       
        
      }
      .number-box{
        display: flex;
      }
      .input-text-box1{
        display: flex;
        
      }
      .tele{
        width: 25%;
        margin-top: 9%;
      }
      .teleinput{
        margin-left:-10%;
        width:96%;
      }
      .checkbox{
        width: 100%;
        display: flex;
        margin-top: 1%;
       
      }
      .checkbox__label{
        width: 100%;
        margin-left: 3%;
        font-size: 100%;
        color:  gray;
        font-size:70%
      
      }
      .signupbtn{
      width: 85%;
      background-color: black;
      color: white;
      margin-top: 16%;
      
      }
      .Left-form{
        /* border: 1px solid red; */
        width: 30%;
      }
      .right-form{
        /* border: 1px solid green; */
        width: 40%;
      }
      .dot{
        color: white
        ;
      }
      .input-text-options{
      font-size: 90%;
      color: gray;
      }
      .changeform-btn{
      display: flex;
      width: 14%;
      justify-content: space-between;
      margin: 4%;
      font-size: 80%;
      font-weight:bold;
      }
      .headingform{
        margin: 4%;
        font-size: 98%;
        color: black;
      }
      .signup-footer{
        display: flex;
        width: 40%;
        /* border: 1px solid black; */
        justify-content: space-between;
        margin: 8%;
      }
      .list{
      text-decoration: none;
      color:gray;
      font-size: 68%;
      }
      .header-heading{
        font-size: 80%;
      }
      .parent {
        display: flex;
        justify-content: flex-start;
        width: 100%;
      }
      
      .item-container {
        display: flex;
        align-items: flex-end;
        position: relative;
      }
      
      .prodimg {
        width: 298.83px;
        height: 441.13px;
      }
      
      .details-container {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 83%;
        padding: 10px;
        box-sizing: border-box;
      }
      
      .prodprice,
      .prodname {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
      }
      
      .prodname {
        text-align: left;
        flex: 1;
      }
      
      .prodprice {
        text-align: right;
        margin-left: 10px;
      }
      .selectedparent {
        display: flex;
        justify-content: cent;
        width: 100%;
      }
      .selectedimg{
        width: 598.33px;
        height: 897.48px;
        left: 635px;
      }
      .selectedprice {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
        margin: 0 213px;
      }
      
      .selectedname {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
        margin: 0 223px;
      }